.App {
  text-align: center;
}

.task_{
   width: 440px;
   height: 60px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-radius:1rem;
   margin-top: 1.5rem;
   gap: 2rem;
   padding-left: 2rem;
   padding-right: 2rem;
   background-color: rgba(251, 255, 0, 0.075);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   transition: all 300ms ease;
}

.task_done{
  width: 440px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius:1rem;
  margin-top: 1.5rem;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(59, 241, 42, 0.26);
  box-shadow: rgba(0, 255, 34, 0.35) 0px 5px 15px;
  transition: all 300ms ease;
}
.task_deleted{
  width: 440px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius:1rem;
  margin-top: 1.5rem;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(59, 241, 42, 0);
  box-shadow: rgba(0, 255, 34, 0) 0px 5px 15px;
  opacity: 0;
  transition: all 300ms ease;
}

.actions{
  width: 150px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-radius:1rem;
}
